body{
   margin: 0%; 
   font-family: 'Playfair Display', serif;
}
.bdinsider360{
    color: blueviolet;
}
h1{
    font-size: 40px;
}
.half-width{
    width: 45%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    height: auto;

}
.top-banner{
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 450px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg,lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.cv-area{
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{
   color: black; 
   text-align: center;
}



  .container{
      max-width: 200px;
      margin: auto;
      
      background: #007bbf;
      overflow: auto;
      
  }
  .gallery{
      margin: 15px;
      border: 10px solid rgb(204, 204, 204);
      float: left;
      width: 350px;
      
  }
    .gallery img{
        width: 80%;
        height: auto;
    }
    .desc{
        padding: 10px;
        text-align: center;
    }
    .toktoki{
        color: blueviolet;
        text-align:center ;
        float:left;
    
    }
    #box1{
        height: 90px;
        width: 300px;
        background-color: red;
        color:white;
        text-align: center;
        float:right;
    }
    .shakib{
        color: black;
        font: size 80%;
    }
    .sd{
        color:green;
        text-align: center;
        ;
    }